.container {
	width: 100%;
	min-height: 100vh;
	/* background-color: #000000; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.maincontainer {
	width: 90vw;
	/* max-width: 900px; */
	height: 90vh;
	/* max-height: 500px; */
	display: flex;
	border-radius: 10px;
	border-style: dotted;
	text-align: justify;
	border-width: 1px;
	border-color: #edf5f3;
	color: aliceblue !important;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.navigate1 td h1{
	color: #edf5f3 !important;
	font-size: 40px;
	/* height: 20px; */
	text-align: center;
}

.navigate1:hover {
	
	z-index: -1;
	transform: scale(1.5);
	content: "click!"
	
}



.signout_btn {
	position: absolute;
	right: 10px;
	top: 10px;
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	width: 20vw;
	max-width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.gpsHeading {
	padding: 7%;

}

.table_main {
	overflow:hidden;
	margin-top: 100px;
	display: block;
	font-size: x-large;
	border-color: gray;
	align-items: center;




}

.table_main th {
	border-color: gray;
	font-size: medium;
	color: grey !important;

}


.table_main td {
	color: aliceblue !important;
	/* max-width: max-content; */
	width: 100vw;
}

a.btn.btn-primary {
    /* --bs-btn-color: #fff; */
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: none;
    --bs-btn-hover-bg: none;
	--bs-btn-hover-content: 'click'
    
}

