
.maincontainer {
	text-align: center;
	color: aliceblue !important;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}





.signout_btn {
	position: absolute;
	right: 10px;
	top: 10px;
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	width: 20vw;
	max-width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.gpsHeading {
	padding: 7%;

}

.table_main {
	overflow:hidden;
	margin-top: 100px;
	display: block;
	font-size: x-large;
	border-color: gray;
	align-items: center;




}

.table_main th {
	border-color: gray;
	font-size: medium;
	color: grey !important;
	width: fit-content;

}


.table_main td {
	color: aliceblue !important;
	/* max-width: max-content; */
	width: 100vw;
}

.navi{
	color: #edf5f3;
	text-decoration: none;
	/* margin-left: 10px; */
	margin-right: 10px;
	text-align: end;
	justify-content: end;
	width: 100px;
	
}





.navigate1 td h1{
	color: #edf5f3 !important;
	font-size: 30px;
	/* height: 20px; */
	text-align:right;
	color: #edf5f3;
	text-decoration: none;
	
	/* padding-left: 30% */
	
}


.test:hover {
	position:inherit;
	font-size: 0;
	transform: scale(1.5)
	
  }
  
  .test:hover:before {
	font-size: 10px;
	content: attr(data-hover);
	color: #edf5f3;
	margin-top: 1.5vh;
	;
  }

  .hovering {
	color: #edf5f3;
  }