.maincontainer {
  padding: 5%  15%;
  text-align: center;
  color: aliceblue;

}

.signout_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: grey !important;
  border-radius: 20px;
  width: 20vw;
  max-width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.loading{
  /* position: absolute; */
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-items: center;
  margin-top: 5%;
}

.signout_btn:hover {
  z-index: 99;
  background-color: rgba(255, 0, 0, 0.61) !important;
  color: #edf5f3;
}

.gpsHeading {
  padding: 7%;
}

.table_main {
  overflow: hidden;
  margin-top: 100px;
  display: block;
  font-size: x-large;
  border-color: gray;
  align-items: center;
}

.table_main th {
  border-color: gray;
  font-size: medium;
  color: grey !important;
  width: fit-content;
}

.table_main td {
height: 100px;
}




.table_main thead th {
  z-index: 10;
  cursor: pointer;

}

.table_main thead th:hover {
  color: #edf5f3 !important;
  transform: scale(1.2);
}

.table_main td {
  color: aliceblue !important;
  width: 100vw;
}

.arrow {
  font-size: large;
}

.navi {
  color: #edf5f3;
  text-decoration: none;
  /* margin-left: 10px; */
  margin-right: 10px;
  text-align: end;
  justify-content: end;
  width: 100px;
}

input:focus {
  /* outline: none !important; */
  border-color: red !important;
  box-shadow: 0 0 10px red;
}

.navi_button {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 30px;
}

.navi_button:hover {
  color: red;
  font-size: 30px;
  /* shadow: 0 0 10px red; */
  text-shadow: 0 0 10px red;
}

.navigate1 td h1 {
  color: #edf5f3 !important;
  font-size: 30px;
  /* height: 20px; */
  text-align: right;
  color: #edf5f3;
  text-decoration: none;

  /* padding-left: 30% */
}

.test:hover {
  position: inherit;
  font-size: 0;
  transform: scale(1.5);
}

.test:hover:before {
  font-size: 10px;
  content: attr(data-hover);
  color: #edf5f3;
  margin-top: 1.3vh;
}

.hovering {
  color: #edf5f3;
}
