.login_container {
  display:-webkit-flex;
  align-items: center;
  justify-content: center;
  /* padding: 10%; */
}

.login_form_container {
  margin-top:12vh;
  position: relative;
  text-align: center;
  width: 80vw;
  max-width: 900px;
  /* min-width: 500px; */
  height: 90vh;
  max-height: 500px;
  display: flex;
  border-width: 2px;
  border-color: gray;
  border-style: dotted;
  border-radius: 20px;
}

.login_form_container .left{

  width: 20vw;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #edf5f3;
  /* margin-right: -10%; */
  margin-left: 40px;
  margin-right: 10px;
}

.form_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container h1 {
  font-size: 40px;
  margin-top: 0;
}
.login_form_container
.input {
  outline: none;
  border: none;
  width: 30vw;
  max-width: 370px;
  padding: 15px;
  border-radius: 50px;
  background-color: transparent;
  margin: 5px 0;
  font-size: 14px;
  border-color: grey;
  border-style: solid;
  
}

.error_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.login_form_container 
.right {
  width: 10vw;
  position: relative;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: gray;
  border-style: solid;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  margin-left: 10px;
  margin-right: 40px;
  /* padding: 10%; */
}

.login_form_container 
.right h1 {
  margin-top: 0;
  color: grey;
  font-size:xx-large;
  margin-left: 20px;
  align-self: center;
  margin-bottom: 40px;
}

.white_btn:hover {
  color: grey;
  background-color: #edf5f3;
}

.login_form_container 
.white_btn{
  margin-left: 30px;
}

.white_btn,
.green_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: gray;
  color: #edf5f3;
  border-radius: 20px;
  width: 20vw;
  max-width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-left: 20px;

}

.green_btn {
  background-color: #e95858d8;
  color: white;
  margin: 10px;
}

.green_btn:hover {
  background-color: red;
}

